.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  vertical-align: middle;
  margin-top: 30px;
  color: var(--foreground);
}

.links-container {
  justify-content: end;
  gap: 20px;
  vertical-align: middle;
  align-items: center;
}

.menu-button {
  border-radius: 50%;
  min-width: 48px;
  min-height: 48px;
  background-color: var(--dark-gray);
}

/* a {
  @apply hover:text-red-400;
} */
