.container {
  background-color: var(--light-gray);
  flex: 1;
}

.info-container {
  @apply max-w-xl;
  @apply lg:max-w-sm lg:pl-[40];
  @apply xl:max-w-xl xl:pl-0;
  @apply 2xl:max-w-3xl;
}

.description {
  color: var(--accent100);
  margin-top: 40px;
  margin-bottom: 20px;
}

.title {
  margin-top: 40px;
}

.image {
  position: static;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  @apply lg:absolute;
}
