@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: InterTightRegular;
  src: url(./fonts/InterTight-Regular.ttf);
}

:root {
  --white: #ffffff;
  --light-gray: #f4f4f4;
  --dark-gray: #a6a6ab;
  --accent100: #212529;
  --accent45: #424649;

  --background: var(--white);
  --foreground: var(--accent100);
}

[data-theme="dark"] {
  --background: var(--accent100);
  --foreground: var(--white);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: InterTightRegular, sans-serif;
}

.global-margins {
  @apply mx-5 sm:mx-10 lg:mx-32;
}

.global-left-margins {
  @apply ml-5 sm:ml-10 lg:ml-32;
}

.global-right-margins {
  @apply mr-5 sm:mr-10 lg:mr-32;
}
