.title {
  color: var(--accent100);
  @apply mt-24 lg:mt-28;
}

.description {
  color: var(--accent100);
  margin-top: 40px;
  margin-bottom: 40px;
  @apply max-w-4xl;
  @apply xl:max-w-xl;
  @apply 2xl:max-w-4xl;
}

.scroll-container {
  overflow: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  @apply flex gap-7;
}

.image {
  @apply flex-none lg:flex-1;
  scroll-snap-align: start;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}
