.header-container {
  @apply h-[400];
  background-color: var(--accent100);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.width-restrictions {
  @apply max-w-max;
  @apply lg:max-w-xl;
  @apply xl:max-w-2xl;
  @apply 2xl:max-w-3xl;
}

.title {
  @apply text-5xl 2xl:text-6xl;
}

.accordion {
  border-top: 2px solid var(--dark-gray);
  padding: 20px 0;
}

.accordion-summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.accordion-summary::-webkit-details-marker {
  display: none;
}

.accordion-content {
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: 0.3s;
}

.accordion-content-body {
  overflow: hidden;
}

.accordion-details[open] + .accordion-content {
  grid-template-rows: 1fr;
}

.arrowImage {
  transition-duration: 0.3s;
  width: 25px;
  height: 30px;
}

.accordion-details[open] .arrowImage {
  transform: rotate(90deg);
}

.image-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  @apply lg:flex-row lg:justify-end lg:items-start;
}
.energy-image {
  @apply mt-[40] mb-[20] w-[578];
  @apply xl:w-[778];
  @apply lg:mb-0;
}
.image-description-container {
  color: var(--dark-gray);
  font-size: 14px;
  text-align: center;
  @apply lg:text-end lg:mr-[20] lg:mt-auto;
}

.info-container {
  @apply max-w-xl;
  @apply lg:max-w-sm;
  @apply xl:max-w-xl;
  @apply 2xl:max-w-3xl;
  margin-bottom: 20px;
}

.description {
  color: var(--accent100);
  margin-top: 40px;
  margin-bottom: 20px;
}

.subtitle {
  margin-top: 40px;
}
